body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f6f6;
}

.container {
  background: white;
  padding: 40px;
  width: 600px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

#verification_heading {
  font-size: 28px;
  margin-bottom: 10px;
}

#verification_subtext {
  color: #555;
  margin-bottom: 30px;
}

.code-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.code {
  width: 60px;
  height: 70px;
  font-size: 40px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.code:focus {
  border-color: black;
  outline: none;
}

.note {
  background: #eee;
  padding: 10px;
  border-radius:5px;
  font-size: 14px;
}
